* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color:dodgerblue;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

/* ====== Area tela do jogo ====== */

#main-play-area {
  background-color: black;
  background-image: url(img/space.png);
  height: 620px;
  width: 620px;
}

/* ====== instruções do jogo e botão de start ====== */
.game-instructions {
  color: white;
  /* left: 4rem; */
  position: relative;
  text-align: center;
  top: 0px;
}

.start-button {
  color: white;
  cursor: pointer;
  position: relative;
  text-align: center;
  top: 9rem;
}

/* ====== img do hero ====== */

.player-shooter {
  height: 60px;
  left: 20px;
  position: relative;
  top: 250px;
}

/* ====== laser da nave do hero ======*/
.laser {
  height: 30px;
  position: relative;
  width:40px;
}

/* ===== aliens inimigos ====== */

.alien {
  position: relative;
  width: 70px;
}

.alien-transition {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.dead-alien {
  height: 60px;
  position: relative;
}